[GENERAL]
PATH = //uni-eng.ru/unit/Ivanovo/Документация ЮНИТ М300/Разработка/Схемы ФБ ЮНИТ-М300/Проект/РЭ ШЭТ

[CABINETS]
# Режим: all | except | list
MODE = list
# Список имён шкафов
NAMES = 01, 02, 03, 04, 05