[GENERAL]
PATH = //uni-eng.ru/unit/Ivanovo/Документация ЮНИТ М300/Разработка/Схемы ФБ ЮНИТ-М300/Проект/РЭ ШЭТ

[CABINETS]
# Режим: all | except | list
MODE = list
# Список имён шкафов
#NAMES = 01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31
NAMES = 01

[LATEX]
# Режим работы с LaTeX:
# regenerate - обновление приложений в PDF из DWG (просто компиляция, параметры НЕ меняются)
# update     - обновление general.tex (Код, Тип, Версия, Дата) + компиляция PDF
MODE = update

# Версия документа (используется только в режиме update):
# Если указана (например, 1.0), то будет установлена эта версия
# Если пустая или не указана, то версия будет автоинкрементирована
REVISION = 1.0

# Дата документа (используется только в режиме update):
# Если указана (например, 07.09.2026), то будет установлена эта дата
# Если пустая или не указана, то будет использована текущая дата
DATE = 07.09.2026

PATH_TO_SAVE = //uni-eng.ru/unit/Ivanovo/Документация ЮНИТ М500/ЭД/РЭ ШЭТ