[GENERAL]
PATH = //uni-eng.ru/unit/Ivanovo/Документация ЮНИТ М300/Разработка/Схемы ФБ ЮНИТ-М300/Проект/РЭ ШЭТ

[CABINETS]
# Режим: all | except | list
MODE = list
# Список имён шкафов
NAMES = 11, 12, 13, 14, 15, 16, 17, 18, 19, 20