[GENERAL]
PATH = //uni-eng.ru/unit/Ivanovo/Документация ЮНИТ М300/Разработка/Схемы ФБ ЮНИТ-М300/Проект/РЭ500

[IEDS]
# Режим: all | except | list
MODE = all
# Список имён устройств
NAMES = 01.01, 02.01

[LATEX]
# Версия документа:
# Если указана (например, 1.0), то будет установлена эта версия
# Если пустая или не указана, то версия будет автоинкрементирована
REVISION = 1.0

# Дата документа:
# Если указана (например, 07.09.2026), то будет установлена эта дата
# Если пустая или не указана, то будет использована текущая дата
DATE = 07.09.2026

PATH_TO_SAVE = //uni-eng.ru/unit/Ivanovo/Документация ЮНИТ М500/ЭД/РЭ ЮНИТ